# Coding
dev
src

# Common
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
PycharmProjects
Sites
VirtualBox\ VMs
.VirtualBox

# Unix
*.swp
.*history
.adobe
.bash_logout
.bash_profile
.bashrc
.csshrc
.cups
.dbshell
.dvdcss
.fonts
.ipython
.irssi
.java
.lesshst
.oh-my-zsh
.profile
.ssh/authorized_keys
.ssh/id_dsa
.ssh/id_dsa.pub
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/identity
.ssh/identity.pub
.ssh/known_hosts
.ssh/private
.ssh/spotify
.subversion
.subversion_IDEA
.vim/.netrwhist
.viminfo
.weechat
.zcompdump
.zsh-update
.PyCharm20

# Ubuntu/Debian
.ICEauthority
.Private
.Xauthority
.aptitude
.cache
.compiz-1
.config
.dbus
.dmrc
.ecryptfs
.esd_auth
.face
.fontconfig
.gconf
.gconfd
.gksu.lock
.gnome2
.gnupg
.gtk-bookmarks
.gstreamer-*
.libreoffice
.local
.macromedia
.mozilla
.mission-control
.pki
.pulse
.pulse-cookie
.recently-used.xbel
.sudo_as_admin_successful
.sunpinyin
.thumbnails
.vboxclient-*.pid
.xchat2
.xinput.d
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-*-linux
.xsession-errors*
examples.desktop
Ubuntu\ One

# Mac OS X
.CFUserTextEncoding
.DS_Store
.Trash
