/.*
.*.swp

!/.dotfiles
/.dotfiles/private

/Desktop
/Documents
/Downloads
/Dropbox
/Movies
/Music
/Pictures
/Public
/Zotero

/src

# Mac
.DS_Store
/Applications
/Creative Cloud Files
/Library

# Linux
/Arduino
/Calibre Library
/examples.desktop
/snap
