# git ls-tree -r --name-only main
/.*
!/.bazelrc
!/.config/alacritty
!/.config/bat
!/.config/btop
!/.config/gitui
!/.config/k9s
!/.config/nvim
!/.config/uv
!/.dotfiles
/.dotfiles/private
!/.git*
!/.m2/mvnd.properties
!/.p10k.zsh
!/.profile
!/.sbt/**.sbt
!/.tmux.conf
!/.zprofile
!/.zshenv
!/.zshrc

.*.swp

/Desktop
/Documents
/Downloads
/Dropbox
/Movies
/Music
/Pictures
/Public
/Zotero

/src

# Mac
.DS_Store
/Applications
/Creative Cloud Files
/Library

# Linux
/Arduino
/Calibre Library
/examples.desktop
/snap
