[user]
	name = Neville Li
	email = neville.lyh@gmail.com
	signingkey = F91A03ED31E1842B
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	syntax-theme = Dracula
[diff]
	colorMoved = default
[color]
	ui = auto
[branch]
	autoSetupRebase = always
[alias]
	ci = commit
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	l1 = log --format='%C(blue)%h%C(reset) -%C(yellow bold)%d%C(reset) %s %C(yellow)(%cr) %C(green)<%an>%C(reset)'
	l2 = log --format='%C(blue)Commit: %H%C(reset)%C(yellow bold)%d%C(reset)%n%C(green)Author: %an <%ae>%C(reset)%n%C(yellow)Date:   %cd%C(reset)%n%n%w(,4,4)%s' --date=local
	l3 = log --format='%C(blue)Commit: %H%C(reset)%C(yellow bold)%d%C(reset)%n%C(green)Author: %an <%ae>%C(reset)%n%C(yellow)Date:   %cd%C(reset)%n%n%w(,4,4)%B' --date=local
	lg = log --format='%C(blue)%h%C(reset) -%C(yellow bold)%d%C(reset) %s %C(yellow)(%cr) %C(green)<%an>%C(reset)' --graph
	lm = log --format='%C(blue)%h%C(reset) -%C(yellow bold)%d%C(reset) %s %C(yellow)(%cr)%C(reset)' --author=neville
	rb = rebase
	st = status
[merge]
	tool = vimdiff
	conflictstyle = diff3
[commit]
	gpgsign = true
[init]
	defaultBranch = main
