[user]
	name = Neville Li
	email = neville.lyh@gmail.com
[init]
	defaultBranch = main
[branch]
	autoSetupRebase = always
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"
[rebase]
	autoSquash = true

[alias]
	# See `man git-log` tformat: "terminator" vs format: "separator"
	# https://stackoverflow.com/questions/58016135/format-string-for-consistent-separation-between-entries-output-by-git-log-pre
	l1 = log --pretty='format:%C(red)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%ar) %C(bold blue)<%an>%C(reset)'
	l2 = log --pretty='format:%C(red)commit %H%C(reset)%C(auto)%d%C(reset)%n%C(bold blue)Author: %an <%ae>%C(reset)%n%C(green)Date:   %ad%C(reset)%n%w(0,0,4)%+s%-C()%n' --date=local
	l3 = log --pretty='format:%C(red)commit %H%C(reset)%C(auto)%d%C(reset)%n%C(bold blue)Author: %an <%ae>%C(reset)%n%C(green)Date:   %ad%C(reset)%n%C(bold blue)Commit: %cn <%ce>%C(reset)%n%C(green)Date:   %cd%C(reset)%n%w(0,0,4)%+s%w(0,0,0)%n%w(0,0,4)%+b%-C()%n' --date=local
	lg = log --pretty='format:%C(red)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%ar) %C(bold blue)<%an>%C(reset)' --graph
	lm = log --pretty='%C(red)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%ar) %C(bold blue)<%an>%C(reset)' --author=neville

# GPG
[user]
	signingKey = 87498A1F55A9B766
[commit]
	gpgSign = true
[tag]
	gpgSign = true

# https://github.com/dandavison/delta#get-started
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true # use n and N to move between diff sections
	light = false
	syntax-theme = Dracula
	line-numbers = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default

# GitHub Desktop
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
